<div class="holder">

  <div class="sidebar animated fadeInLeft">



    <div class="sidebar-inner">

      <div class="header">
        <p>Search Panel</p>
      </div>

      <form class="createCredentials">

        <div class="form-group first animated fadeInUp">
          <label for="tournamentName">Tournament Search</label>
          <input class="form-control" type="text" name="tournamentName">
        </div>

        {{!-- <div class="form-group first animated fadeInUp">
          <label for="tournamentName">Team Search</label>
          <input class="form-control" type="text" name="tournamentName">
        </div> --}}

      </form>

      <div class="footer">
        <p>Submit</p>
      </div>


    </div>



  </div>

  <div class="bracketContainer">

  </div>

</div>

{{#each scripts}}
  <script type="text/javascript" src="{{script}}"></script>
{{/each}}